RewriteEngine on
RewriteCond %{QUERY_STRING} ^id=(\d+)$
RewriteRule ^punbb/viewtopic\.php$ https://www.ubuntu.si/forum/index.php?p=/discussion/%1/ [R=301]
RewriteRule ^punbb/topic/(.*)?$ https://www.ubuntu.si/forum/index.php?p=/discussion/$1 [R=301]
RewriteRule ^punbb/forum/(.*)?$ https://www.ubuntu.si/forum/index.php?p=/categories/$1 [R=301]
RewriteRule ^punbb/post/(.*)?$ https://www.ubuntu.si/forum/index.php?p=/discussion/comment/$1/#Comment_$1 [R=301,NE]
RewriteCond %{QUERY_STRING} ^id=(\d+)$
RewriteRule ^punbb/viewforum\.php$ https://www.ubuntu.si/forum/index.php?p=/categories/%1/ [R=301]
