.carousel {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.carousel-text, .carousel-text h1 {
  font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.carousel-list li {
  background: rgba(0,0,0,0.6);
}
