.carousel {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.carousel-text, .carousel-text h1, .carousel-list li {
  font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.carousel-list li {
  background: rgba(0,0,0,0.6);
}
.carousel-indicators .active {
  background-color: #dd4814;
}
.carousel-indicators li
{
  border: 1px solid #dd4814;
}
@media only screen and (max-width: 992px) {
  .carousel-list li {
    text-transform: none;
    font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
}
@media only screen and (max-width: 600px) and (min-width: 200px) {
  .carousel-list li {
    font-size: 10px;
  }
  .carousel-text h1 {
    font-size: 10px;
  }
}
