/* enigma blog area - zadnje novice*/
.enigma_blog_wrapper {
  margin-bottom: 0;
}
.enigma_blog_area {
  padding-top: 10px;
  padding-bottom: 0;
}
.enigma_blog_area .enigma_heading_title {
  margin: 0 0 10px;
}
.enigma_blog_thumb_wrapper p {
  font-size: 14px;
}
.enigma_blog_thumb_wrapper {
  border-bottom: 5px solid #77216F;
}
.enigma_blog_thumb_date li i {
  color: #dd4814;
}
.enigma_blog_thumb_wrapper h2 a, a {
  color: #77216F;
}
.enigma_blog_thumb_wrapper h2 a:hover, .enigma_blog_thumb_wrapper h2:hover a {
  color: inherit;
}
.enigma_blog_read_btn {
  color: #FFFFFF !important;
  font-size: 15px;
  border: 2px solid #77216F;
  background-image: linear-gradient(to bottom, #77216F 50%, #fff 50%);
}
.enigma_blog_read_btn:hover {
  color: #77216F !important;
}
.enigma_heading_title h3 {
  text-transform: none;
  color: #666;
}
.enigma_heading_title h3 {
  border-bottom: 4px solid #77216F;
  font-family:"Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media (min-width:1200px) {
  .enigma_blog_thumb_wrapper a.enigma_blog_read_btn {
    position: fixed;
    top: 72%;
    margin-bottom: 0px;
  }
  .enigma_blog_thumb_footer {
    position: fixed;
    top: 80%;
  }
  .enigma_blog_thumb_wrapper {
    height:500px;
  }
}
@media (min-width:992px) and (max-width:1199px) {
  .enigma_blog_thumb_date li {
    margin-right: 8px;
  }
  .enigma_blog_thumb_wrapper a.enigma_blog_read_btn {
    position: fixed;
    top: 72%;
    margin-bottom: 0px;
  }
  .enigma_blog_thumb_footer {
    position: fixed;
    top: 80%;
  }
  .enigma_blog_thumb_wrapper {
    height:520px;
  }
}
