.enigma_footer_area span a {
  color: #77216F;
  text-decoration: none;
}
.enigma_footer_area span a:hover {
  color: #77216F;
}
.fa-heart {
  color: #77216F;
}
.enigma_footer_area span {
  color: #77216F;
  font-size: 75% !important;
}
#trademark-notice {
  color: #77216F;
}
#copyright {
  margin-left: 150px;
}
.enigma_footer_area {
  background-color: #f5f5f5;
  border-top: #e3e3e3 solid 1px;
}
