#vprasalnik_razlicica, #vprasalnik_starost, #vprasalnik_zmogljivost, #vprasalnik_namizje, #vprasalnik_izbor, #vprasalnik_znova, #vprasalnik_izbor a {
    display: none;
}

#vprasalnik_krmarjenje {
    float: right;
}

#vprasalnik_izbor img.disabled {
    opacity: 0.4;
    filter: alpha(opacity=40);
}